<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="KyoshinIntencity.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <userSettings>
        <KyoshinIntencity.Properties.Settings>
            <setting name="d_Color" serializeAs="String">
                <value>Black</value>
            </setting>
            <setting name="set_viewname" serializeAs="String">
                <value>未設定</value>
            </setting>
            <setting name="set_point_x" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="set_point_y" serializeAs="String">
                <value>0</value>
            </setting>
        </KyoshinIntencity.Properties.Settings>
    </userSettings>
</configuration>